modules/Web/examples/index.with.comments.pug
//- create resuable mixins
mixin comment(someData)
  .comment
    .date= someData.date
    .author= someData.author
    .text= someData.text

//- create the type of html
doctype html 
html
  //- <html> tags
  body 
    //- body tags using tab/space indent so that body is inside html
    h1 HELLO

    //- use the . to create multiple lines
    p.
      Some Multi-line
      Text
    a(href="about.html") ABOUT
    //- set attributes
    - const myList = {1: "Item1", 2: "Item2", 3: "Item3"};
    //- use - for javascript
    //- each is a loop item is the value, i is the index - make a list 
    ul
      each item, i in myList
        li= item + " - " + i
    if myList
      //- | means plain text
      //- interpolate from javascript
      p
        | Say Hi
        strong #{ myList[1]} 
    else
      p don't say hi

    - const orderStatus = 'Pending'
    //- case statements
    case orderStatus
      when 'Pending'
        p Your order is waiting
      when 'Ready'
        p You order is ready
      default
        p Nothing happening 

    include nav
    //- use includes to include common files
    
    - const commentData = {date: '04-02-2020', author: 'Martin', text: 'Awesome'}
    +comment(commentData)

modules/Web/examples/index.html
<!DOCTYPE html >
<html>
  <body> 
    <h1 class="class">HELLO</h1>
    <p>
      Some Multi-line
      Text
    </p><a href="about.html">ABOUT</a>
    <ul>
      <li>Item1 - 1</li>
      <li>Item2 - 2</li>
      <li>Item3 - 3</li>
    </ul>
    <p>Say Hi<strong>Item1 </strong></p>
    <p>Your order is waiting</p>
    <p>Hello</p>
    <div class="comment">
      <div class="date">04-02-2020</div>
      <div class="author">Martin</div>
      <div class="text">Awesome</div>
    </div>
  </body>
</html>
